.app{
  position: relative;
  width: 600px;
  height: 600px;
  margin: 100px auto;
  background: #d9d9d9;
  overflow: hidden;
}

.half-circle{
  position: absolute;
  z-index: 666;
  top: -30%;
  left: -30%;
  width: 80%;
  height: 80%;
  background: #248456;
  border-radius: 50% 50% 50% 50%;
}

.square{
  position: absolute;
  z-index: 777;
  width: 70%;
  height: 10%;
  top: 40%;
  left: 10%;
  transform: rotate(45deg);
  background: #1c3f9b;
}

.squircle{
  position: absolute;
  z-index: 999;
  width: 60%;
  height: 15%;
  top: 65%;
  left: 20%;
  background:#920fbf;
  border-radius: 30px;
}

.circle{
  position: absolute;
  z-index: 999;
  top: 36%;
  left: 50%;
  width: 21%;
  height: 21%;
  background: #0ca565;
  border-radius: 50% 50% 50% 50%;
}

.triangle{
  position: absolute;
  z-index: 9999;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border-bottom: 150px solid #ce3607;
  border-left: 150px solid transparent;
}